@use './variables.scss';
@use './global.scss';

.edit-main-container {
    background: variables.$editBackground;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: variables.$flex-display;
    justify-content: center;
    align-items: center;

    @keyframes fadeIn {
        from {
            background: rgba(255, 255, 255, 1);
        }

        to {
            background: variables.$editBackground;
        }
    }
}

.edit-container {
    background: variables.$fifthColor;
    width: 35rem;
    height: 15rem;
    border: 2px solid variables.$backgroundBorder;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;


    .edit-upload-description {
        padding-bottom: 0.7rem;
        border-bottom: 2px solid variables.$backgroundBorder;

        .edit-close {
            height: 1.7rem;
            display: variables.$flex-display;
            align-items: center;
            margin-left: 41px;
            text-align: center;

            p {
                display: inline-block;
                width: 60rem;
                font-weight: 600;
                font-size: 20px;
                margin-right: 28px;
            }

            .close-edit-button {
                margin: 0.8rem 0.2rem 0.2rem 0;
                border: none;

                &:hover {
                    color: variables.$firstColor;
                }
            }
        }
    }

    .modal-main-content {
        padding: 1.5rem 0 2rem 0;
        font-size: 20px;

        .file-description-edit {
            margin-bottom: 2rem;
            margin-left: 2rem;

            label[for="file-to-edit"] {
                font-weight: 600;
            }

            .edit-label {
                width: 65%;
                height: 2rem;
                margin-left: 2.2rem;
                border: 2px solid variables.$backgroundBorder;
                border-radius: 5px;
                padding-left: 0.6rem;
            }

            .error {
                color: variables.$error;
                font-size: 9px;
            }

            .has-error {
                border: 2px solid variables.$error;
            }

            .success {
                border: 2px solid variables.$success;
            }
        }

        .save-button-option {
            margin-left: 12.6rem;

            .save-button {
                text-decoration: none;
                cursor: pointer;
                font-weight: 500;
                background: variables.$sixthColor;
                font-weight: 600;
                border: 2px solid variables.$backgroundBorder;
                border-radius: 6px;
                padding: 5px 1.5rem 0.3rem;
                position: relative;
                top: 0.2rem;

                &:hover {
                    background: variables.$sixthColor;
                    color: variables.$fifthColor;
                    border: 2px solid variables.$sixthColor;
                }
            }

            .cancel-save-button {
                margin-left: 2.2rem;
                text-decoration: none;
                cursor: pointer;
                font-weight: 500;
                background: variables.$sixthColor;
                font-weight: 600;
                border: 2px solid variables.$backgroundBorder;
                border-radius: 6px;
                padding: 5px 1.5rem 0.3rem;
                position: relative;
                top: 0.2rem;

                &:hover {
                    background: variables.$sixthColor;
                    color: variables.$fifthColor;
                    border: 2px solid variables.$sixthColor;
                }
            }
        }
    }
}