@use './variables.scss';
@use './global.scss';

form {
    label {
        margin-right: 1.5rem;
    }

    .login-user-input,
    .register-user-input {
        font-weight: 600;

        .login-input-email,
        .login-input-password {
            padding: 0.4rem;
            border: 2px solid;
            border-radius: 5px;
        }

        .register-input-name,
        .register-input-email,
        .register-input-password,
        .register-input-confirm {
            padding: 0.4rem;
            border: 2px solid variables.$fourthColor;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 400px) {
    form {
        label {
            font-size: 18px;
            margin-left: .2rem;
        }

        .login-user-input,
        .register-user-input {
            font-weight: 600;

            .login-input-email,
            .login-input-password {
                font-size: 18px;
                height: 3rem;
                border: 2px solid;
                display: block;
                width: 100%;
                margin-top: .5rem;
            }

            .register-input-name,
            .register-input-email,
            .register-input-password,
            .register-input-confirm {
                font-size: 18px;
                height: 3rem;
                border: 2px solid variables.$fourthColor;
                display: block;
                margin-top: .5rem;
                width: 100%;
            }
        }
    }

}