@use './variables.scss';
@use './global.scss';

/* style for both login page and register page */
section {
    .login-form-holder {
        display: variables.$flex-display;
        flex-direction: column;
        margin-top: 4.5rem;
        gap: 2rem;

        .login-heading {
            margin-left: 8.9rem;
        }

        form {
            display: inline-flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;

            .login-holder {
                display: variables.$flex-display;
                flex-direction: column;
                align-items: flex-end;
                gap: 2rem;
            }

            .login-user-input {
                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                .error {
                    color: variables.$error;
                    font-size: 9px;
                    margin-top: .5rem;
                    position: absolute;
                    animation: fadeIn .3s ease-in-out;
                }

                .has-error {
                    border: 2px solid variables.$error;
                    animation: fadeIn .3s ease-in-out;
                }

                .success {
                    border: 2px solid variables.$success;
                    animation: fadeIn .3s ease-in-out;
                }
            }

            .submit-login {
                border: 2px solid variables.$backgroundBorder;
                width: 7rem;
                margin-left: 7.9rem;
                background: variables.$primaryButton;
                padding: 0.2rem 0 0.5rem;
                border-radius: 10px;
                font-weight: 600;
                position: absolute;
                margin-top: 12rem;
                cursor: pointer;

                &:hover {
                    @include variables.buttonShadow;
                }
            }
        }
    }
}